@using Muxarr.Data.Entities
@typeparam TType where TType : class, IHasId

<div class="form-check">
    <input type="checkbox"
           class="form-check-input"
           checked="@IsAllSelected"
           @onchange="HandleSelectionChange"/>
</div>

@code {
    [Parameter] [EditorRequired] public required SelectablePaginatedListComponent<TType> Parent { get; set; }

    private bool IsAllSelected => Parent.Items.All(item => Parent.SelectedIds.Contains(item.Id));

    private async Task HandleSelectionChange(ChangeEventArgs args)
    {
        if (args.Value is not bool selected)
        {
            return;
        }

        if (selected)
        {
            foreach (var item in Parent.Items)
            {
                Parent.SelectedIds.Add(item.Id);
            }
        }
        else
        {
            Parent.SelectedIds.Clear();
        }

        await Parent.OnSelectAll();
    }

}
